openapi: 3.1.0
info:
  title: Looker Studio Embedding API
  description: >-
    Embed Looker Studio reports in your applications using HTML iframe tags,
    oEmbed, and Open Graph Tags with customizable parameters and filtering
    options. Supports embedding on platforms like Medium and Reddit. Reports are
    embedded via URL-based configuration specifying the report ID, page, and
    optional filter parameters.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/looker-studio/integrate/embed
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
externalDocs:
  description: Looker Studio Embedding Documentation
  url: https://developers.google.com/looker-studio/integrate/embed
servers:
  - url: https://lookerstudio.google.com
    description: Looker Studio production server
tags:
  - name: Embed
    description: Operations for embedding Looker Studio reports in external applications and websites.
  - name: oEmbed
    description: oEmbed-compatible endpoint for platforms that support the oEmbed standard.
paths:
  /embed/reporting/{reportId}/page/{pageId}:
    get:
      operationId: getEmbeddedReport
      summary: Looker Studio Get an embedded report page
      description: >-
        Returns an embeddable version of a Looker Studio report page designed
        for use within an HTML iframe. The embedded report renders the specified
        page of the report with optional filter parameters. Users must have at
        least view access to the report to see the embedded content.
      tags:
        - Embed
      parameters:
        - name: reportId
          in: path
          required: true
          description: The unique identifier of the Looker Studio report to embed.
          schema:
            type: string
        - name: pageId
          in: path
          required: true
          description: >-
            The identifier of the specific page within the report to display.
          schema:
            type: string
        - name: params
          in: query
          required: false
          description: >-
            URL-encoded JSON string containing filter parameters to apply to the
            embedded report. Filters restrict the data displayed based on
            dimension values.
          schema:
            type: string
      responses:
        '200':
          description: >-
            Returns the HTML content for the embedded report page, suitable for
            rendering in an iframe.
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the embedded report page.
        '403':
          description: >-
            The user does not have permission to view this report or the report
            does not allow embedding.
        '404':
          description: >-
            The specified report or page was not found.
  /embed/reporting/{reportId}:
    get:
      operationId: getEmbeddedReportDefault
      summary: Looker Studio Get an embedded report (default page)
      description: >-
        Returns an embeddable version of a Looker Studio report starting from
        the default (first) page. This endpoint is used when no specific page ID
        is required.
      tags:
        - Embed
      parameters:
        - name: reportId
          in: path
          required: true
          description: The unique identifier of the Looker Studio report to embed.
          schema:
            type: string
        - name: params
          in: query
          required: false
          description: >-
            URL-encoded JSON string containing filter parameters to apply to the
            embedded report.
          schema:
            type: string
      responses:
        '200':
          description: >-
            Returns the HTML content for the embedded report, suitable for
            rendering in an iframe.
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the embedded report.
        '403':
          description: >-
            The user does not have permission to view this report or the report
            does not allow embedding.
        '404':
          description: >-
            The specified report was not found.
  /s/{shortId}:
    get:
      operationId: getSharedReportByShortLink
      summary: Looker Studio Get report via short link
      description: >-
        Access a Looker Studio report using a shortened sharing URL. These URLs
        are generated by the Looker Studio sharing interface and can be used for
        oEmbed-compatible embedding on platforms such as Medium and Reddit.
      tags:
        - oEmbed
      parameters:
        - name: shortId
          in: path
          required: true
          description: The short link identifier for the shared report.
          schema:
            type: string
      responses:
        '200':
          description: >-
            Returns the report page. When used on oEmbed-compatible platforms,
            the URL is automatically expanded to a rich embed.
          content:
            text/html:
              schema:
                type: string
        '404':
          description: The specified short link was not found or has expired.
