openapi: 3.2.0
info:
  title: Looker Studio Embedding Embed API
  description: Embed Looker Studio reports in your applications using HTML iframe tags, oEmbed, and Open Graph Tags with customizable parameters and filtering options. Supports embedding on platforms like Medium and Reddit. Reports are embedded via URL-based configuration specifying the report ID, page, and optional filter parameters.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/looker-studio/integrate/embed
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
servers:
- url: https://lookerstudio.google.com
  description: Looker Studio production server
tags:
- name: Embed
  description: Operations for embedding Looker Studio reports in external applications and websites.
paths:
  /embed/reporting/{reportId}/page/{pageId}:
    get:
      operationId: getEmbeddedReport
      summary: Looker Studio Get an embedded report page
      description: Returns an embeddable version of a Looker Studio report page designed for use within an HTML iframe. The embedded report renders the specified page of the report with optional filter parameters. Users must have at least view access to the report to see the embedded content.
      tags:
      - Embed
      parameters:
      - name: reportId
        in: path
        required: true
        description: The unique identifier of the Looker Studio report to embed.
        schema:
          type: string
      - name: pageId
        in: path
        required: true
        description: The identifier of the specific page within the report to display.
        schema:
          type: string
      - name: params
        in: query
        required: false
        description: URL-encoded JSON string containing filter parameters to apply to the embedded report. Filters restrict the data displayed based on dimension values.
        schema:
          type: string
      responses:
        '200':
          description: Returns the HTML content for the embedded report page, suitable for rendering in an iframe.
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the embedded report page.
        '403':
          description: The user does not have permission to view this report or the report does not allow embedding.
        '404':
          description: The specified report or page was not found.
  /embed/reporting/{reportId}:
    get:
      operationId: getEmbeddedReportDefault
      summary: Looker Studio Get an embedded report (default page)
      description: Returns an embeddable version of a Looker Studio report starting from the default (first) page. This endpoint is used when no specific page ID is required.
      tags:
      - Embed
      parameters:
      - name: reportId
        in: path
        required: true
        description: The unique identifier of the Looker Studio report to embed.
        schema:
          type: string
      - name: params
        in: query
        required: false
        description: URL-encoded JSON string containing filter parameters to apply to the embedded report.
        schema:
          type: string
      responses:
        '200':
          description: Returns the HTML content for the embedded report, suitable for rendering in an iframe.
          content:
            text/html:
              schema:
                type: string
                description: HTML content of the embedded report.
        '403':
          description: The user does not have permission to view this report or the report does not allow embedding.
        '404':
          description: The specified report was not found.
externalDocs:
  description: Looker Studio Embedding Documentation
  url: https://developers.google.com/looker-studio/integrate/embed
