openapi: 3.2.0
info:
  title: Looker Studio Embedding O Embed API
  description: Embed Looker Studio reports in your applications using HTML iframe tags, oEmbed, and Open Graph Tags with customizable parameters and filtering options. Supports embedding on platforms like Medium and Reddit. Reports are embedded via URL-based configuration specifying the report ID, page, and optional filter parameters.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/looker-studio/integrate/embed
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
servers:
- url: https://lookerstudio.google.com
  description: Looker Studio production server
tags:
- name: oEmbed
  description: oEmbed-compatible endpoint for platforms that support the oEmbed standard.
paths:
  /s/{shortId}:
    get:
      operationId: getSharedReportByShortLink
      summary: Looker Studio Get report via short link
      description: Access a Looker Studio report using a shortened sharing URL. These URLs are generated by the Looker Studio sharing interface and can be used for oEmbed-compatible embedding on platforms such as Medium and Reddit.
      tags:
      - oEmbed
      parameters:
      - name: shortId
        in: path
        required: true
        description: The short link identifier for the shared report.
        schema:
          type: string
      responses:
        '200':
          description: Returns the report page. When used on oEmbed-compatible platforms, the URL is automatically expanded to a rich embed.
          content:
            text/html:
              schema:
                type: string
        '404':
          description: The specified short link was not found or has expired.
externalDocs:
  description: Looker Studio Embedding Documentation
  url: https://developers.google.com/looker-studio/integrate/embed
