openapi: 3.1.0
info:
  title: Looker Studio Assets oEmbed API
  description: The Looker Studio API enables developers to programmatically manage reports, data sources, and permissions. It provides methods for searching assets and managing asset permissions including getting, updating, adding, and removing members. The API is available to users that belong to an organization with Google Workspace or Cloud Identity.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/looker-studio/integrate/api
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
servers:
- url: https://datastudio.googleapis.com/v1
  description: Looker Studio API production server
security:
- oauth2: []
tags:
- name: oEmbed
  description: oEmbed-compatible endpoint for platforms that support the oEmbed standard.
paths:
  /s/{shortId}:
    get:
      operationId: getSharedReportByShortLink
      summary: Looker Studio Get report via short link
      description: Access a Looker Studio report using a shortened sharing URL. These URLs are generated by the Looker Studio sharing interface and can be used for oEmbed-compatible embedding on platforms such as Medium and Reddit.
      tags:
      - oEmbed
      parameters:
      - name: shortId
        in: path
        required: true
        description: The short link identifier for the shared report.
        schema:
          type: string
      responses:
        '200':
          description: Returns the report page. When used on oEmbed-compatible platforms, the URL is automatically expanded to a rich embed.
          content:
            text/html:
              schema:
                type: string
        '404':
          description: The specified short link was not found or has expired.
components:
  securitySchemes:
    oauth2:
      type: oauth2
      description: OAuth 2.0 authentication with domain-wide delegation. Requires Google Workspace or Cloud Identity organization.
      flows:
        authorizationCode:
          authorizationUrl: https://accounts.google.com/o/oauth2/v2/auth
          tokenUrl: https://oauth2.googleapis.com/token
          scopes:
            https://www.googleapis.com/auth/datastudio: Full access to manage Looker Studio assets and permissions.
            https://www.googleapis.com/auth/datastudio.readonly: Read-only access to Looker Studio assets.
            https://www.googleapis.com/auth/userinfo.profile: Access to user profile information.
externalDocs:
  description: Looker Studio API Reference
  url: https://developers.google.com/looker-studio/integrate/api/reference
