openapi: 3.2.0
info:
  title: Looker Studio Community Connector Configuration API
  description: 'Build custom data connectors to bring data from any source into Looker Studio. Connectors are built using Google Apps Script and implement three core functions: getConfig(), getSchema(), and getData(). This specification documents the contract between Looker Studio and community connectors, defining the request and response formats for each required function.'
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/looker-studio/connector
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
servers:
- url: https://datastudio.google.com/datasources/create
  description: Looker Studio data source creation endpoint
tags:
- name: Configuration
  description: Operations related to connector configuration, including user-configurable options and authentication setup.
paths:
  /connector/getConfig:
    post:
      operationId: getConfig
      summary: Looker Studio Get connector configuration options
      description: Returns the user-configurable options for the connector. Looker Studio displays these options to the user when setting up a data source. The configuration can include text inputs, dropdowns, checkboxes, and informational text. Supports stepped configuration where subsequent config options depend on previous selections.
      tags:
      - Configuration
      requestBody:
        required: true
        description: The request containing language preference and any previously set config parameters.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetConfigRequest'
      responses:
        '200':
          description: The connector configuration definition.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetConfigResponse'
components:
  schemas:
    GetConfigRequest:
      type: object
      description: Request for connector configuration options.
      properties:
        languageCode:
          type: string
          description: The user's language preference (ISO 639 code).
        configParams:
          type: object
          description: Previously configured parameters. Present during stepped configuration when the user has already filled in some options.
          additionalProperties:
            type: string
    ConfigParam:
      type: object
      description: A single configuration parameter definition.
      properties:
        type:
          type: string
          description: The type of UI element to render.
          enum:
          - TEXTINPUT
          - TEXTAREA
          - SELECT_SINGLE
          - SELECT_MULTIPLE
          - CHECKBOX
          - INFO
        name:
          type: string
          description: The unique identifier for this parameter.
        displayName:
          type: string
          description: The label displayed to the user.
        helpText:
          type: string
          description: Help text shown below the input element.
        placeholder:
          type: string
          description: Placeholder text for text input elements.
        isDynamic:
          type: boolean
          description: Whether this parameter triggers a re-fetch of config when changed.
        options:
          type: array
          description: Available options for SELECT_SINGLE and SELECT_MULTIPLE types.
          items:
            type: object
            properties:
              label:
                type: string
                description: Display label for the option.
              value:
                type: string
                description: The value submitted when this option is selected.
    GetConfigResponse:
      type: object
      description: Response containing the connector's configurable options.
      properties:
        configParams:
          type: array
          description: The list of configuration elements to display to the user.
          items:
            $ref: '#/components/schemas/ConfigParam'
        dateRangeRequired:
          type: boolean
          description: Whether the connector requires a date range to be specified by the user. Defaults to false.
        isSteppedConfig:
          type: boolean
          description: Whether the connector uses stepped configuration where subsequent options depend on previous selections. Defaults to false.
externalDocs:
  description: Looker Studio Community Connector Documentation
  url: https://developers.google.com/looker-studio/connector/reference
