openapi: 3.2.0
info:
  title: Looker Studio Community Visualization API
  description: Build and deploy custom visualizations for Looker Studio using any JavaScript visualization library. The dscc (Data Studio Community Component) helper library simplifies development by providing functions for data subscriptions, component dimensions, and user interactions. Visualizations are event-driven, receiving data and style information as users interact with the report. This specification documents the hosting and deployment contract for community visualizations.
  version: v1
  contact:
    name: Google
    url: https://developers.google.com/looker-studio/visualization
  license:
    name: Google APIs Terms of Service
    url: https://developers.google.com/terms
  termsOfService: https://developers.google.com/terms
servers:
- url: https://lookerstudio.google.com
  description: Looker Studio production server
tags:
- name: Visualization
  description: Operations for loading and rendering community visualizations in Looker Studio reports.
paths:
  /visualization:
    get:
      operationId: listCommunityVisualizations
      summary: Looker Studio List community visualizations
      description: Accesses the community visualization gallery where users can browse and discover published community visualizations for use in their Looker Studio reports.
      tags:
      - Visualization
      responses:
        '200':
          description: Returns the visualization gallery page with available community visualizations.
          content:
            text/html:
              schema:
                type: string
  /visualization/load:
    post:
      operationId: loadVisualization
      summary: Looker Studio Load a community visualization
      description: Loads a community visualization into a Looker Studio report. The visualization is identified by its manifest URL hosted on Google Cloud Storage. Looker Studio fetches the manifest, resolves the JavaScript and CSS resources, and renders the visualization with the report's data.
      tags:
      - Visualization
      requestBody:
        required: true
        description: The configuration for loading a community visualization into a report component.
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoadVisualizationRequest'
      responses:
        '200':
          description: The visualization was loaded successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LoadVisualizationResponse'
        '400':
          description: Invalid manifest URL or the manifest does not conform to the required schema.
        '404':
          description: The visualization manifest could not be found at the specified URL.
components:
  schemas:
    LoadVisualizationResponse:
      type: object
      description: Response after successfully loading a community visualization.
      properties:
        status:
          type: string
          description: The status of the load operation.
          enum:
          - SUCCESS
          - ERROR
        componentId:
          type: string
          description: The component ID where the visualization was loaded.
        error:
          type: object
          description: Error details if the load failed.
          properties:
            message:
              type: string
            code:
              type: string
    LoadVisualizationRequest:
      type: object
      description: Request to load a community visualization.
      properties:
        manifestUrl:
          type: string
          format: uri
          description: The URL to the visualization's manifest.json file, typically hosted on Google Cloud Storage.
        componentId:
          type: string
          description: The unique identifier of the report component to render the visualization in.
      required:
      - manifestUrl
externalDocs:
  description: Looker Studio Community Visualization Documentation
  url: https://developers.google.com/looker-studio/visualization
